.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer-logo p {
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}
.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 100%;
}
@media(max-width:800px) {
    .footer-logo {
        gap: 10px;
        align-items: end;
    }
    .footer-logo img {
        width: 40px;
    }
    .footer-logo p {
        font-size: 25px;
    }
}